:has(>.inputWrapper)
  height: 100vh
  width: 100%
  max-width: 60ch
  display: flex
  flex-direction: column
  place-self: center
  place-content: center

.header
  text-align: center

.arrow
  display: flex
  justify-content: center
  font-size: 1rem
  opacity: 0.25
  padding: 1rem
  @include squat
    padding-top: 0
    padding-bottom: 0

.inputWrapper
  display: flex
  justify-content: center

input
  color: inherit
  font-family: inherit
  &:read-only
    &:focus
      outline: none
      box-shadow: none

.input
  width: 80%
  padding: 0.75rem 1rem
  border: 1px solid rgba(255, 255, 255, 0.15)
  border-radius: 0.5rem
  background: transparent
  font-size: 1.1rem
  outline: none
  &:focus
    border-color: #34b
  @include narrow
    width: 100%
  @include light
    border-color: #34b

.item
  display: flex
  align-items: baseline
  gap: 0.5rem
  overflow: hidden
  margin-top: 0.4rem
  transition: opacity 100ms

.equal:not(:hover)
  opacity: 30%

.touching
  background: oklch(40% 0.4 340)
  @include light
    background: oklch(90% 0.3 330)

.underscore
  background: oklch(40% 0.4 220)
  @include light
    background: oklch(90% 0.3 260)

.dash
  background: oklch(40% 0.4 200)
  @include light
    background: oklch(90% 0.1 200)

.space
  background: oklch(40% 0.4 180)
  @include light
    background: oklch(90% 0.2 140)

.header
  display: flex
  min-width: 8.5ch
  justify-content: end
  place-self: stretch
  align-items: center

.name
  opacity: 0.8
  text-transform: capitalize

.item:hover
  .name
    display: none
  .button
    display: initial

.button
  display: none
  font-family: Symbols Nerd Font Mono
  cursor: pointer
  user-select: none
  width: stretch;
  text-align: end;

.result
  flex: 1
  font-family: JetBrainsMono NF, JetBrains Mono, Iosevka, Symbols Nerd Font Mono, monospace
  word-break: break-all
  background: rgba(0, 0, 0, 20%)
  border: none
  font-size: 120%
  padding-left: 2rem
  padding-top: 0.5rem
  padding-bottom: 0.5rem
  align-self: normal
  @include squat
    padding-top: 0
    padding-bottom: 0
  @include light
    background: rgba(255, 255, 255, 20%)
