// @import-normalize "normalize.css/opinionated.css"
@import-normalize
@import-sanitize

:root
  background: black
  color-scheme: dark
  color: white
  font-family: Geologica, Rubik, Calibri, sans-serif
  ::selection
    background: #ffb327

pre>code
  white-space: pre-wrap

a:hover
  text-decoration: underline

code
  font-family: JetBrainsMono NF, JetBrains Mono, Iosevka, Symbols Nerd Font Mono, Symbols Nerd Font Mono Regular, monospace

@media (prefers-color-scheme: light)
  :root
    background: white
    color: black
