@import-normalize
@import-sanitize

@font-face
  font-family: main
  src: local("Geologica"), local("Geologica NF")

@font-face
  font-family: code
  src: local("JetBrains Mono"), local("JetBrains Mono NF")

:root
  color-scheme: dark
  background: black
  color: white
  user-select: none
  @include light
    color-scheme: light
    background: white
    color: black

a:hover
  text-decoration: underline

code
  font-family: code

pre>code
  white-space: pre-wrap
