#container
  font-family: main, system-ui, sans-serif
  user-select: none
  height: 100vh
  width: toNarrow(500, 100vw)
  display: flex
  flex-direction: column
  place-self: center
  place-content: center
