// @import-normalize "normalize.css/opinionated.css"
@import-normalize
@import-sanitize

@mixin mobile
  @media only screen and (max-width: 599px)
    @content

@mixin light
  @media (prefers-color-scheme: light)
    @content

:root
  color-scheme: dark
  background: black
  color: white
  font-family: Geologica, Rubik, Calibri, sans-serif
  @include light
    color-scheme: light
    background: white
    color: black

a:hover
  text-decoration: underline

code
  font-family: JetBrainsMono NF, JetBrains Mono, Iosevka, Symbols Nerd Font Mono, Symbols Nerd Font Mono Regular, monospace

pre>code
  white-space: pre-wrap
